@use 'variables' as *;

@mixin mobile {
  @media only screen and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: $desktop) {
    @content;
  }
}

@mixin flexbox(
  $direction: row,
  $horizontal: flex-start,
  $vertical: flex-start,
  $gap: 0,
  $wrap: nowrap
) {
  display: flex;
  gap: $gap;
  flex-wrap: $wrap;
  flex-direction: $direction;
  @if $direction == row or $direction == row-reverse {
    justify-content: $horizontal;
    align-items: $vertical;
  } @else if $direction == column or $direction == column-reverse {
    align-items: $horizontal;
    justify-content: $vertical;
  }

  @content;
}

@mixin flexcentered {
  justify-content: center;
  align-items: center;
}
