@import url("https://fonts.googleapis.com/css2?family=Lato&family=Zilla+Slab:wght@300;400;700&display=swap");
$font-1: "Lato", sans-serif;
$font-2: "Zilla Slab", serif;

$color-primary: #6d4b31;
$color-secundary: #ffa600;
$color-base-1: #dedede;
$color-base-2: #000000;

$scale: 1, 1.25, 2, 2.827, 4, 5.653;

$shadow-1: 0 0 1rem hsla(0, 0%, 0%, 0.8);
$shadow-2: 0 0 1rem hsla(0, 0%, 0%, 0.6);
$shadow-3: 0 0 1rem hsla(0, 0%, 0%, 0.4);
$shadow-4: 0 0 1rem hsla(0, 0%, 0%, 0.2);

$border-rad: 1.5rem;

$mobile: 57.6rem;
$tablet: 76.8rem;
$desktop: 99.2rem;

$text-gradient: linear-gradient(
  to right,
  $color-base-1 0,
  lighten($color-base-1, 4) 22%,
  $color-base-1 45%,
  $color-base-1 50%,
  $color-base-1 55%,
  lighten($color-base-1, 4) 78%,
  $color-base-1 100%
);

$text-gradient-2: linear-gradient(
  to right,
  $color-base-1,
  lighten($color-secundary, 4) 22%,
  $color-secundary 45%,
  $color-base-1 50%,
  $color-secundary 55%,
  lighten($color-secundary, 4) 78%,
  $color-base-1 100%
);
