@use "../utils/" as *;

.quoteCard {
  overflow: hidden;
  margin: 0 auto;
  box-shadow: $shadow-3;
  border-radius: .5rem;
  background-color: $color-primary;
  display: grid;
  grid-template-columns: 1fr 2fr;



  @include tablet {
    grid-template-columns: repeat(1, minmax(min-content, 1fr));

    grid-template-rows: repeat(2, min-content);
  }
  
  &__Hero {
    overflow: hidden;
    img {
      min-width: 40%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__Content {
    @include flexbox(column, center, center,2rem);
    overflow: hidden;
    padding:2rem;
    color: $color-base-1;
    border-radius: $border-rad;
    font-style: italic;

    & > * + * {
      margin-top:6rem;
    }

    blockquote {
      max-width: 65ch;
      font-size: 2.5rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.2;
      &::before {
        content: open-quote;
        font-size: inherit;
      }
      &::after {
        content: close-quote;
        font-size: inherit;
      }
    }
    figcaption {
      text-align: right;
      font-weight: 100;
      margin-top: 1rem;
      font-size: 2rem;
      
    }
  }
}

/* Products Demo */
/* Bootstrap alternative */
.card-body {
  background-color: $color-primary;
  h3 {
    color: $color-secondary;
  }

  .card-title {
    .price {
      font-size: 2.5rem;
      color: $color-secondary;
    }
  }
  .card-text {
    font-weight: 400;
    text-align: center;
  }
}

.card {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(0.98);
    z-index: 99;
  }
}
