@use "../utils" as *;
@use "sass:list";
.chocolakeyLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: list.nth($scale, 3) * 1rem;
  color: $color-primary;
  font-size: 2rem;
  h1 {
    text-align: center;
    background: linear-gradient(
      to right,
      $color-base-2 0,
      lighten($color-primary, 4) 22%,
      $color-primary 45%,
      $color-base-2 50%,
      $color-primary 55%,
      lighten($color-primary, 4) 78%,
      $color-base-2 100%
    );
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 3.5s linear infinite;
  }
  a:hover {
    text-decoration: none;
    border-bottom: transparent;
  }
  img {
    box-shadow: none;
  
  }
  @media (max-width:76.8rem) {
    img{
      display: none;
    }
    h1{
      font-size: 2.5rem;
    }
  }

  &--v2 {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: list.nth($scale, 3) * 1rem;
    color: $color-base-1;
    font-size: 2rem;
    @media (max-width:76.8rem) {
      img,h1{
        display: none;
      }
    }
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

