@use '../utils/' as *;

.navbar{
 padding: nth($list: $scale, $n: 1)
 ;
 background-color: transparent;
}
.navbar-toggler{
 color: $color-base-1;
 background: $color-primary;
 border: 2px solid $color-base-1;
}

.navbar-toggler-icon{
 background-image: none;
 background-size: contain;
 background-clip: border-box;
 background-repeat: no-repeat;
}

.nav-link,.navbar a{
 // color: $color-primary !important;
 font-size: 1.5rem;
}

// .nav-item:hover,
// .nav-item:focus {
//  color: $color-base-2 !important;
// }
