@use "../utils/" as *;

.navbar {
  padding: nth($list: $scale, $n: 1);
  background-color: transparent;
}
.navbar-toggler {
  color: $color-base-1;
  background: $color-primary;
}

.navbar-toggler-icon {
  background-image: none;
  background-size: contain;
  background-clip: border-box;
  background-repeat: no-repeat;
  transition: all 0.7s ease-in-out;
}

.nav-link,
.navbar a {
  // color: $color-primary !important;
  font-size: 1.5rem;
}

.icn-spinner{
 transform: rotate(180deg);
  display: inline-block;
}
