@use "../utils" as *;
@use 'sass:math';
::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
  width: 2vmin;
  height: 2vmin;
}
::-webkit-scrollbar-thumb {
  $border-width: math.div(1rem, 3);
  overflow: hidden;
  background-color: $color-primary;
  border-radius: 1rem;
  // border: 0.3rem solid darken($color-primary,5%);
  box-shadow: inset 0px 0px 0 $border-width darken($color-base-1, 10%),
    inset 0px 0px 0 calc($border-width + 0.5rem) $color-primary,
    inset 0px 0px 0 calc($border-width + 1rem) darken($color-base-1, 10%);
  transition: box-shadow 1s ease-in-out;
  &:hover {
    box-shadow: inset 0px 0px 0 $border-width lighten($color-primary, 10%),
      inset 0px 0px 0 calc($border-width + 0.5rem) $color-base-1,
      inset 0px 0px 0 calc($border-width + 1rem) lighten($color-primary, 10%);
  }
}
