@use "../utils" as *;

body {
  overflow: overlay;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */


  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  @include mobile{
    display: block;
  }
}

header {
  @include flexbox(row, space-between, center);
  grid-area: header;
  position: sticky;
  top: 0;
  @include tablet{
    position: relative;
  }
  background-color: $color-primary;
}
main {
  grid-area: main;
  display: grid;
  padding: 1.5vmin;
  grid-template-rows: repeat(auto-fit,minmax(min-content,max-content));
  gap:1.5rem;
}

footer {
  @include flexbox(row,$horizontal:space-between,$vertical:center);
  grid-area: footer;

  * {
    color: $color-primary;
  }
  p{
    font-size: 1rem;
    align-self: flex-end;
  }

  @include mobile{
    p{
      align-self: initial;
    }
  }
}

header,
footer {
  @include tablet{
    @include flexbox(column,center,center);
    
  }
  padding: 2rem;
  z-index: 10;
}
