@use "../utils" as *;

html {
  font-family: $font-1;
  font-size: 62.5%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $font-2;
    font-size: (6.5 - $i) * 1rem;
  }
}

a {
  color: $color-base-1;
  &:hover {
    color: $color-secundary;
  }
}

p,span,small {
  font-size: 1.6rem;
  color: $color-base-1;
}
