:root{
  --color1:#999;
  --color2:#777;
  --color3:#666;
  --color4:#555;
  --color5:#444;
  --color6:#333;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.flex {
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flow-rowrev{
  flex-direction: row-reverse;
}
.flex-col{
  flex-direction: column;
}
.flex-colrev{
  flex-direction: column-reverse;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-around {
  align-items: space-around;
}

.align-between {
  align-items: space-between;
}

.align-evenly {
  align-items: space-evenly;
}

.align-end {
  align-items: flex-end;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap3 {
  gap: 3rem;
}

.gap4 {
  gap: 4rem;
}

.gap5 {
  gap: 5rem;
}

.gap6 {
  gap: 6rem;
}

header{
  background-color: var(--color1);
}